.header {
    background-color: lavender;
}

.h5_header {
    font-size: 48px;
    font-family: system-ui;
    font-style: normal;
    color: #5E56E7;
    margin-left: 42px;
}

.p_header {
    font-size: 20px;
    color: #333333;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 42px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6%;
    border-radius: calc(0.25rem - 1px);
}

.images {
    width: 12%
}

.icons {
    background: white;
    color: unset;
    margin-left: 6%;
    margin-top: 30px;
    width: 88%;
}

.icons_1 {
    background: white;
    color: unset;
    margin-left: 144px;
    margin-top: 30px;
    width: 368px;
}

.icons_diff {
    background: white;
    color: unset;
    margin-left: 6%;
    margin-top: 30px;
    width: 88%;
}

.label_item {
    font-size: large;
    font-weight: 500;  
    position: unset;
}