.header {
    background-color: #F8F7FF;
}

.main_matcard {
    background-color: #F8F7FF;
}

.h5_header {
    font-size: 48px;
    font-family: system-ui;
    font-style: normal;
    color: #5E56E7;
    margin-left: 42px;
    font-weight: 600;
}

.p_header {
    font-size: 20px;
    color: #333333;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 42px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 6%;
    border-radius: calc(0.25rem - 1px);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: none;
}

.images {
    width: 18%
}

.icons {
    background: white;
    color: unset;
    margin-left: 6%;
    margin-top: 30px;
    width: 88%;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    height: 50px;
}

.icons_1 {
    background: white;
    color: unset;
    margin-left: 144px;
    margin-top: 30px;
    width: 368px;
}

.icons_diff {
    background: white;
    color: unset;
    margin-left: 6%;
    margin-top: 30px;
    width: 88%;
}

.label_item {
    font-size: large;
    font-weight: 600;
    position: absolute;
    font-family: Montserrat, Semi Bold;
}