<div fxLayout="column" class="main_div_header">
    <div class="books_div_1">
        <div fxLayout="row" fxLayoutGap="140px">
            <div>
                <a [routerLink]="['/']"> <img class="images" src="../../../assets/Back.svg"></a>
                <label class="label_item">&nbsp;&nbsp;Fiction</label>
            </div>

        </div>
    </div>
    <div class="books_div_2">
        <input (keydown.enter)="search($event)" type="search" id="searchtext" class="form-control" placeholder="search">
    </div>
</div>
<!-- second div -->
<div fxLayout="column" fxLayoutAlign="center center" class="second_main_div">
    <div fxLayout="row" class="second_div">
        <div fxLayout="row" class="inside_second_main_div" *ngFor="let image of result">
            <div fxLayout="column">
                <div class="each_image_div">
                    <a id="images" href="">
                        <div class="card">
                            <img src="../../../assets/download.png" class="card-img-top" alt="...">
                        </div>
                    </a>
                </div>
                <div fxLayout="column" class="card-body">
                    <p class="card-text">{{image?.title}}</p>
                    <p class="card-text_2">{{image?.authors[0]?.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="page-item active" aria-current="page">
                    <!-- <span class="page-link">{{defaultPageSize}}</span> -->
                </li>
                <li class="page-item"><a class="page-link" (click)="PrevPagination()">{{prevPage}}</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="pagination()">{{mainPage}}</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="nextPagination()">{{nextpage}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>