<div class="main_div" fxLayout="column">
    <div fxLayout="column">
        <div class="books_div_1">
            <div fxLayout="row" fxLayoutGap="140px">
                <div>
                    <a [routerLink]="['/']"> <img class="images" src="../../../assets/Back.svg"></a>
                    <label class="label_item">&nbsp;&nbsp;Fiction</label>
                </div>

            </div>
            <!-- <div class="list-container">
            <dx-list #list [dataSource]="products" [height]="400" [searchEnabled]="true" searchExpr="Name"
                searchMode="contains">
                <div *dxTemplate="let data of 'item'">
                    <div>{{data.Name}}</div>
                </div>
            </dx-list>
        </div>
        <div class="options">
            <div class="caption">Options</div>
            <div class="option">
                <span>Search mode</span>
                <dx-select-box #searchMode [items]="['contains', 'startsWith']" [(value)]="list.searchMode">
                </dx-select-box>
            </div>
        </div> -->
        </div>
        <div class="books_div_2">
            <input type="password" id="inputPassword5" class="form-control" placeholder="search"
                aria-describedby="passwordHelpBlock">
        </div>
    </div>
    <!-- second div -->
    <div>
        <div fxLayout="column" *ngFor="let image of result">
            <mat-card class="image-data"> {{image?.authors[0]?.name}}</mat-card>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{image?.authors[0]?.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>