.main_div_header {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    padding: 7%;
    margin-left: 8%;
}

.second_main_div {
    background-color: lavender;
    margin-top: -5%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.second_div {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-left: 194px;
    flex-wrap: wrap;
}

.inside_second_main_div {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-left: 34px;
}

.each_image_div {
    margin-right: 25%;
    margin-top: 22%;
}

.books_div_1 {
    background-color: white;
}

.books_div_2 {
    background-color: lavender;
    width: 97%;
    margin-top: 2%;
}

.label_item {
    font-size: xx-large;
    color: #5E56E7;
    font-weight: 500;
    position: absolute;
}

.ancor_image {
    border-radius: 8px;
}

.card {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(211 209 238 / 50%);
    cursor: pointer;
}

.card-body {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-left: -10%;
    place-self: flex-start;
    width: 114px;
    border-radius: 8px;
    margin-top: -12%;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-variant: all-small-caps;
    font-size: larger;
    height: 38px;
    word-wrap: break-word;
    overflow-y: hidden;
    margin-left: 3%;
    font-weight: 500;
    margin-top: 6%;
    width: 131%;
}

.card-text_2 {
    margin-left: 3%;
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #A0A0A0;
    margin-top: -8%;
}

.page-item {
    cursor: pointer;
}

.error_div {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    background-color: red;
    height: 25%;
    margin-top: -5%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.afterClick {
    background-color: cornflowerblue;
}
